<section id="top-section">
  <div class="container">

    <div class="col-lg-5">
      <span class="compartilhe">Compartilhe</span><span class="seu-ano"> seu ano!</span>
      <br/>
      <span class="palavras">/palavras</span> <span class="que-definem"> que definem</span>
      <br/>
      <span class="texto">Escolha até 5 palavras que definam como foi seu ano de 2017 aqui na Brasilcap.
    <br/> Cria a sua imagem e compartilhe!
    </span>
      <form ngNativeValidate (ngSubmit)="salvarNaGaleria()">         
        <input placeholder="Quem é você?" minlength="5" maxlength="55" [(ngModel)]="nome" name="nome" [required]="true" class="input-nome">
        
        <button class="btn-salvar" type="submit" > Salvar na galeria</button>
      </form>
    </div>
    <div class="col-lg-offset-1 col-lg-6">
      <div class="overflow">
        <canvas id="canvas"></canvas>
      </div>
      <br/>


      <a id="btn-download" (click)="salvarImagem()">
          Faça o download
          <i class="fa fa-download"  ></i>
        </a>


    </div>
  </div>
</section>
<section id="galeria">

  <span class="titulo">GALERIA</span>
  <div class="galeria-separator">
    <span class="separator left"></span>
    <i class="fa fa-camera-retro camera-galeria" aria-hidden="true"></i>
    <span class="separator right"></span>
  </div>
  <div class="texto-galeria">
    <div class="container">
        O cuidado em identificar pontos críticos no aumento do diálogo entre os diferentes setores produtivos cumpre um papel essencial na formulação dos níveis de motivação departamental
    </div>
  </div>
  <div class="galeria-fotos">
    <div class="col-md-3 no-padding" *ngFor="let foto of listaFotosExibicao" (mouseenter)="mousein($event)" (mouseleave)="mouseout($event)">
      <img alt="{{foto.nome}}"  id="{{foto._id}}" class="img-foto" src="{{foto.foto}}">
      <div class="overlay">
        <span class="circle">
            <i class="fa fa-eye icon-eye" aria-hidden="true"></i>
        </span>
        <div class="text">{{foto.nome}}</div>
      </div>
    </div>
  </div>
 

</section>

<section id="botaoVerTodos">
<div class="container">
    <div class="row" >
      <div class="col-md-12">
        <button id="btn-ver-todos" type="button"  [disabled]="verTodos" (click)="btnVerTodos()" *ngIf="listaFotos.length > 8"> 
            VER TUDO
        </button>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    Brasilcap 2017 © Todos os direitos reservados
  </div>
</footer>