<hr/>

<div class="col-lg-8">
  <div style="width:100% ; overflow:auto" >
  <canvas id="canvas"></canvas>
  </div>
  <br/>
  <div class="row">
    <div class="panel-heading">
      <button data-toggle="tooltip" data-placement="bottom" title="Compartilhar" type="button" class="btn btn-default" (click)="compartilhar();">
        <i class="fa fa-share" aria-hidden="true"></i> Share On</button>
      <button data-toggle="tooltip" data-placement="bottom" title="Salvar" type="button" class="btn btn-default" (click)="salvarImagem();">
        <i class="fa fa-download" aria-hidden="true"></i> Salvar</button>
      <button data-toggle="tooltip" data-placement="bottom" title="Limpar" type="button" class="btn btn-default" (click)="limpar();">
        <i class="fa fa-ban" aria-hidden="true"></i> Limpar</button>
      <button data-toggle="tooltip" data-placement="bottom" title="Deletar Elemento" type="button" class="btn btn-default" [disabled]="!selected"
        (click)="removeSelected();">
        <i class="fa fa-trash" aria-hidden="true"> </i>
        Deletar
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
     <div class="panel panel-default" [hidden]="true">
      <div class="panel-heading">Inserir Texto</div>
      <div class="panel-body">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="textString" />
          <span class="input-group-btn">
            <button id="add-text" data-toggle="tooltip" data-placement="bottom" title="Add text" class="btn btn-default" title="Add text"
              (click)="addText()">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </span>
        </div>
      </div>
    </div>

    

    <div class="panel panel-default">
      <div class="panel-heading">Adicionar Imagem</div>
      <div class="panel-body max-height">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/brasilcap.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/pikachu.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/squirtle.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/bullbasaur.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/charmander.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/bellsprout.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/caterpie.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/dratini.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/eevee.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/jigglypuff.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/mankey.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/meowth.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/pidgey.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/psyduck.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/rattata.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/abra.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/snorlax.svg">
        <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/zubat.svg">
      </div>
    </div>

    <div class="custom-item" *ngIf="selected && textEditor">
        <div class="custom-item-title">Fonte</div>
        <div class="custom-item-body">
          <select [(ngModel)]="props.fontFamily" class="form-control" (change)="setFontFamily()">
            <option value="Raleway">Raleway</option>
            <option value="Archivo Black">Archivo</option>            
          </select>
        </div>
      </div>
    </div>
    
    <a id="download" (href)="href" download="teste.png"></a>

</div>
 